**pyc
**swp
**__pycache__
**venv
**config.py
**.cache

# macOS-specific files
.DS_Store

#PyCharm project configuration files
.idea

# Compiled python modules.
*.pyc

# Setuptools distribution and build folder.
/dist/
/build/

/*.egg-info
/*.egg

# Sphinx templates and build
docs/_build
docs/_static
docs/_templates

# test run module
cwepr/run.py
cwepr/Dataset
cwepr/dataset_metadata
scratch_files/

# tox venvs
.tox
.python-version

# coverage outputs
.coverage
htmlcov/

# Output from tests
*pdf
