%! Author = mirjamschroder
%! Date = 19.01.21

% Preamble
\documentclass[11pt]{article}

% Packages
\usepackage{amsmath}
\usepackage[paper=a4paper,margin=2.5cm]{geometry}
\usepackage[ngerman]{babel}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}
\usepackage[labelfont=bf]{caption}
\usepackage{float}
\usepackage{blindtext}
\usepackage{multicol}

% Document
\begin{document}

\title{{@METADATA['measurement']['label']}}
\author{{@METADATA['measurement']['operator']}}
%#\date{{@sysinfo}}
\maketitle

\section*{Übersicht}
\begin{tabbing}
	\hspace{3.5cm} \= \kill
Name der Probe \> {@METADATA['measurement']['label']} \\
Start der Messung \> {@METADATA['measurement']['start']} \\
Ende der Messung \> {@METADATA['measurement']['end']} \\
Messziel \> {@METADATA['measurement']['purpose']} \\
Messender \> {@METADATA['measurement']['operator']}
\end{tabbing}

\section*{Experimentelle Parameter}

\begin{minipage}{\textwidth}
\begin{tabbing}
\hspace{3.5cm} \= \kill
\textbf{Sample}\\
%{for key, value in METADATA['sample'].items()}%
	%{if 'Value' in value}%
		{@key} \> {@value['Value']}~{@value['Unit']}
		\\
	%{elif not value}%
	%{else}%
		{@key} \> {@value}
		\\
	%{endif}%
%{endfor}%
\end{tabbing}
\end{minipage}

\begin{multicols}{2}
%{for KEY, VALUE in METADATA['parameter'].items() recursive}%
	\noindent\begin{minipage}{.49\textwidth}
	\textbf{{@KEY}}\\
	%{if VALUE is mapping}%
		%{for key2, value2 in VALUE.items()}%
			%{if value2 is mapping}%
			%{if 'unit' in value2}%
			{@key2}: {@value2['value']}~{@value2['unit']}
			\\
			%{endif}%
		%{elif not value2}%
		%{else}%
			{@key2}: {@value2}
			\\
			%{endif}%
	%{endfor}%
	%{endif}%
	\end{minipage}
%{endfor}%
\end{multicols}

\IfFileExists{{@FIGURENAMES[0]}}{

\begin{figure}[H]
	\includegraphics[width=\textwidth]{{@FIGURENAMES[0]}}
\caption{\textbf{Auswertung der PowerSweep-Analyse  der Probe
		\textit{{@METADATA['sample']['name']}}	bei
		{@METADATA['temperatureControl']['temperature']['value']}~{@METADATA
		['temperatureControl']['temperature']['unit']}: }\label{fig:figure}}
\end{figure}
}
{}

\section*{Prozessierung}
\begin{enumerate}
\item Ermittlung der Peak-zu-Peak-Amplituden bei unterschiedlichen
Abschwächungen
\item Rückgabe eines berechneten Datensets: Amplitude \emph{vs.} Wurzel der
Mikrowellenleistung.
 \item Linearer Fit durch
 {@FITTING['metadata']['calculation']['parameters']['points']}
 Punkte, was eine Steigung $m=
  {@ "{:.2f}".format(FITTING['metadata']['calculation']['parameters']
  ['coefficients'][0]) }$
  und einem $y$-Schnittpunkt von $n={@ "{:.2f}".format
  (FITTING['metadata']['calculation']['parameters']['coefficients'][1])}$
  ergibt.
  %{if FITTING['metadata']['calculation']['parameters']['add_origin']:}%
  Der Koordinatenursprung wurde als weiterer Punkt hinzugenommen.
  %{endif}%
\end{enumerate}
\end{document}